<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script type="text/javascript" th:src="@{/js/userAxios.js}"></script>
    <th:block th:replace="framents/header :: HeaderFragment"></th:block>
    <div class="auth-page">
        <div class="container page">
            <div class="row">

                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Sign up</h1>
                    <p class="text-xs-center">
                        <a href="">Have an account?</a>
                    </p>

                    <ul class="error-messages" id="error">
                        <!--<li>That email is already taken</li>-->
                    </ul>

                    <form th:action="@{/api/users}" th:object="${user}" method="post">
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Username" th:field="*{username}">
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Email" th:field="*{email}">
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="password" placeholder="Password" th:field="*{password}">
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right" >
                            Sign up
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <th:block th:replace="framents/footer :: Footer"></th:block>
</html>